---
import Personal from "@/components/Bento/Personal.astro"
import Layout from "../layouts/Layout.astro"
import "@/styles/bento.css"
---

<Layout>
  <main class="h-screen flex items-center">
    <div class="bento mx-auto">
      <Personal />
      <a href="/" class="item">
        <hgroup>
          <h1 class="text-4xl font-bold">Freelancer</h1>
          <h2 class="text-xl indent-2">Open to work</h2>
        </hgroup>
      </a>
      <a href="/" class="item text-2xl"><h1>Experiencia</h1></a>
      <a href="/" class="item text-2xl"><h1>Blog</h1></a>
      <a href="/" class="item text-2xl"><h1>Social</h1></a>
    </div>
  </main>
</Layout>
